<a href="https://colab.research.google.com/github/arunm917/Climate-Action-Tool/blob/main/EquationSolver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import gdown

In [ ]:
# downloading existing perovskite file from gdrive
output = 'equations'
file_id = '1ptSGAStGtVTp9DEDR3HlrTH__KKPJTUq' # Google drive ID
#Download the file
gdown.download('https://drive.google.com/uc?id=' + file_id, output, quiet=False)
print('DONE.')

Downloading...
From: https://drive.google.com/uc?id=1ptSGAStGtVTp9DEDR3HlrTH__KKPJTUq
To: /content/equations
100%|██████████| 9.72k/9.72k [00:00<00:00, 23.9MB/s]

DONE.

In [ ]:
equations_df = pd.read_excel('equations')

In [ ]:
equations_df

,mRM,mRawmeal,mPCoal,mPHKair,mStackGas,mHotClinker,mClinker,mCement,Ecrusher,Erm,Ecoalmill,Ephk_total,Ecooler,Ecement_mill,Constant,Number of Variables,Number of Eqn,mLS
0,1.0,0.00,0.0000,0,0,0.0,0,0,0,0,0,0,0,0,111,15.0,14.0,100.0
1,1.0,-1.00,0.0000,0,0,0.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
2,0.0,0.00,1.0000,0,0,0.0,0,0,0,0,0,0,0,0,6,NaN,NaN,NaN
3,0.0,0.36,1.0000,1,-1,0.0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
4,0.0,0.00,0.0000,-1,0,1.0,-1,0,0,0,0,0,0,0,-164,NaN,NaN,NaN
5,0.0,0.00,0.0000,0,0,1.0,-1,0,0,0,0,0,0,0,0,NaN,NaN,NaN
6,0.0,0.00,0.0000,1,0,0.0,0,0,0,0,0,0,0,0,164,NaN,NaN,NaN
7,0.0,0.00,0.0000,0,0,0.0,1,-1,0,0,0,0,0,0,-38,NaN,NaN,NaN
8,-3.5,0.00,0.0000,0,0,0.0,0,0,1,0,0,0,0,0,0,NaN,NaN,NaN
9,0.0,-2.60,0.0000,0,0,0.0,0,0,0,1,0,0,0,0,0,NaN,NaN,NaN
10,0.0,0.00,-30.0000,0,0,0.0,0,0,0,0,1,0,0,0,0,NaN,NaN,NaN
11,0.0,0.00,-1.9675,0,0,-37.7,0,0,0,0,0,1,0,0,0,NaN,NaN,NaN
12,0.0,0.00,0.0000,0,0,-37.7,0,0,0,0,0,0,1,0,0,NaN,NaN,NaN
13,0.0,0.00,0.0000,0,0,0.0,0,-30,0,0,0,0,0,1,0,NaN,NaN,NaN

In [ ]:
coeff_matrix_df = equations_df.iloc[:,0:14]
coeff_matrix_df

,mRM,mRawmeal,mPCoal,mPHKair,mStackGas,mHotClinker,mClinker,mCement,Ecrusher,Erm,Ecoalmill,Ephk_total,Ecooler,Ecement_mill
0,1.0,0.00,0.0000,0,0,0.0,0,0,0,0,0,0,0,0
1,1.0,-1.00,0.0000,0,0,0.0,0,0,0,0,0,0,0,0
2,0.0,0.00,1.0000,0,0,0.0,0,0,0,0,0,0,0,0
3,0.0,0.36,1.0000,1,-1,0.0,0,0,0,0,0,0,0,0
4,0.0,0.00,0.0000,-1,0,1.0,-1,0,0,0,0,0,0,0
5,0.0,0.00,0.0000,0,0,1.0,-1,0,0,0,0,0,0,0
6,0.0,0.00,0.0000,1,0,0.0,0,0,0,0,0,0,0,0
7,0.0,0.00,0.0000,0,0,0.0,1,-1,0,0,0,0,0,0
8,-3.5,0.00,0.0000,0,0,0.0,0,0,1,0,0,0,0,0
9,0.0,-2.60,0.0000,0,0,0.0,0,0,0,1,0,0,0,0
10,0.0,0.00,-30.0000,0,0,0.0,0,0,0,0,1,0,0,0
11,0.0,0.00,-1.9675,0,0,-37.7,0,0,0,0,0,1,0,0
12,0.0,0.00,0.0000,0,0,-37.7,0,0,0,0,0,0,1,0
13,0.0,0.00,0.0000,0,0,0.0,0,-30,0,0,0,0,0,1

In [ ]:
coeff_matrix = coeff_matrix_df.values.tolist()

In [ ]:
print(coeff_matrix)

[[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1.0, -1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.36, 1.0, 1.0, -1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, -1.0, 0.0, 1.0, -1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, -1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, -1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [-3.5, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, -2.6, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, -30.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0.0, 0.0, -1.9675, 0.0, 0.0, -37.7, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, -37.7, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0], [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -30.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0]]

In [ ]:
constants_df = equations_df['Constant']
constants_df

0     111
1       0
2       6
3       0
4    -164
5       0
6     164
7     -38
8       0
9       0
10      0
11      0
12      0
13      0
Name: Constant, dtype: int64

In [ ]:
constants = constants_df.values.tolist()
# constants = constants*-1
print(constants)

[111, 0, 6, 0, -164, 0, 164, -38, 0, 0, 0, 0, 0, 0]

In [ ]:
x = np.linalg.solve(coeff_matrix, constants)
print(x)

In [ ]:
eigenvalues = np.linalg.eigvals(coeff_matrix)
print(eigenvalues)

[ 1.0000000e+00+0.00000000e+00j  1.0000000e+00+0.00000000e+00j
  1.0000000e+00+0.00000000e+00j -1.0000000e+00+0.00000000e+00j
  2.0000000e+00+0.00000000e+00j -1.9731078e-06+3.41752041e-06j
 -1.9731078e-06-3.41752041e-06j  3.9462156e-06+0.00000000e+00j
  1.0000000e+00+0.00000000e+00j -1.0000000e+00+0.00000000e+00j
  1.0000000e+00+0.00000000e+00j  1.0000000e+00+0.00000000e+00j
  1.0000000e+00+0.00000000e+00j  1.0000000e+00+0.00000000e+00j]

In [ ]:
det = np.linalg.det(coeff_matrix)
print(det)

0.0

In [ ]:
# solve the system of linear equations
x, residuals, _, _ = np.linalg.lstsq(coeff_matrix, constants, rcond=None)
# print the solution
print(x)
print(residuals)

[ 111.          111.            6.          164.          209.96
   -9.25972706   -9.25972706   28.74027294  388.5         288.6
  180.         -337.28671035 -349.09171035  862.20818805]
[]